{% load static %}
{% static "images" as baseUrl %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
	<link rel="stylesheet" href="{% static 'styles/blog_responsive.css' %}">
	<link rel="stylesheet" href="{% static 'styles/blog_styles.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>

    <!-- header-start -->
    <header>
        <div class="header-area">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="{% static 'images/cx.png' %}" style="width:200px;" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="menu_wrap d-none d-lg-block">
                                <div class="menu_wrap_inner d-flex align-items-center justify-content-end">
                                    <div class="main-menu">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a class="active" href="index.html">home</a></li>
                                                <li><a href="about.html">about</a></li>
                                                <li><a href="offers.html">services<i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="accounts/first">Training and Tools</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="#">Support<i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="terms.html">Terms of Service</a></li>
                                                        <li><a href="privacy.html">Privacy Policy</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </nav>
									</div>
									<div class="login">
                                        <div class="login_">
                                            <a href="accounts/login">Login</a>
                                        </div>
                                    </div>
                                    | |
                                    <div class="login">
                                        <div class="login_">
                                            <a href="accounts/first">Register</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider d-flex align-items-center justify-content-center slider_bg_2 overlay">
                <div class="contact_background" style="background-image:url({% static 'images/cxx.png' %})"></div>
                <div class="container" style="padding-top: 350px;">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="slider_text">
                                <h3>The Blog</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->	
	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">

				<!-- Blog Content -->

				<div class="col-lg-8">
					
					<div class="blog_post_container">

						<!-- Blog Post -->
						
						<div class="blog_post">
							<div class="blog_post_image">
								<img src="{% static 'images/immg22.jpg' %}" alt="https://unsplash.com/@anniespratt">
							</div>
							<div class="blog_post_meta">
								<ul>
									<li class="blog_post_meta_item"><a href="">by Lore Papp</a></li>
									<li class="blog_post_meta_item"><a href="">Uncategorized</a></li>
									<li class="blog_post_meta_item"><a href="">3 Comments</a></li>
								</ul>
							</div>
							<div class="blog_post_title"><a href="#">Digital Marketing Job:What it takes</a></div>
							<div class="blog_post_text">
								<p style="font-size: 15px;">Through our professional team comprising of digital marketing experts, we share our ideas and practical skills to help you develop and grow your digital brand.</p>
							</div>
							<div class="blog_post_link"><a href="#">read more</a></div>
						</div>

						<!-- Blog Post -->
						
						<div class="blog_post">
							<div class="blog_post_image">
								<img src="{% static 'images/pic6.jpg' %}" alt="https://unsplash.com/@tschax">
							</div>
							<div class="blog_post_meta">
								<ul>
									<li class="blog_post_meta_item"><a href="">by Lore Papp</a></li>
									<li class="blog_post_meta_item"><a href="">Uncategorized</a></li>
									<li class="blog_post_meta_item"><a href="">3 Comments</a></li>
								</ul>
							</div>
							<div class="blog_post_title"><a href="#">Characteristics of a great CV</a></div>
							<div class="blog_post_text">
								<p style="font-size: 15px;">We assist digital creators to achieve significant gains through their digital platforms. We also equip you with ways to attract a massive online following as well as a lasting impression on your audience.</p>
							</div>
							<div class="blog_post_link"><a href="#">read more</a></div>
						</div>

						<!-- Blog Post -->
						
						<div class="blog_post">
							<div class="blog_post_image">
								<img src="{% static 'images/pic5.jpg' %}" alt="https://unsplash.com/@stilclassics">
							</div>
							<div class="blog_post_meta">
								<ul>
									<li class="blog_post_meta_item"><a href="">by Lore Papp</a></li>
									<li class="blog_post_meta_item"><a href="">Uncategorized</a></li>
									<li class="blog_post_meta_item"><a href="">3 Comments</a></li>
								</ul>
							</div>
							<div class="blog_post_title"><a href="#">5 online courses for an excellent post Covid 19 career </a></div>
							<div class="blog_post_text">
								<p style="font-size: 15px;">Get inspired to develop and nurture your digital creativity skills as we equip you with practical tips and tricks of content creation and content marketing. </p>
							</div>
							<div class="blog_post_link"><a href="#">read more</a></div>
						</div>

					</div>
						
					<div class="blog_navigation">
						<ul>
							<li class="blog_dot active"><div></div>01.</li>
							<li class="blog_dot"><div></div>02.</li>
							<li class="blog_dot"><div></div>03.</li>
						</ul>
					</div>
				</div>

				<!-- Blog Sidebar -->

				<div class="col-lg-4 sidebar_col">

					<!-- Sidebar Search -->
					<div class="sidebar_search">
						<form action="#">
							<input id="sidebar_search_input" type="search" class="sidebar_search_input" placeholder="" required="required">
							<button id="sidebar_search_button" type="submit" class="sidebar_search_button trans_300" value="Submit">
								<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								width="17px" height="17px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
									<g>
										<g>
											<g>
												<path class="mag_glass" fill="#FFFFFF" d="M78.438,216.78c0,57.906,22.55,112.343,63.493,153.287c40.945,40.944,95.383,63.494,153.287,63.494
												s112.344-22.55,153.287-63.494C489.451,329.123,512,274.686,512,216.78c0-57.904-22.549-112.342-63.494-153.286
												C407.563,22.549,353.124,0,295.219,0c-57.904,0-112.342,22.549-153.287,63.494C100.988,104.438,78.439,158.876,78.438,216.78z
												M119.804,216.78c0-96.725,78.69-175.416,175.415-175.416s175.418,78.691,175.418,175.416
												c0,96.725-78.691,175.416-175.416,175.416C198.495,392.195,119.804,313.505,119.804,216.78z"/>
											</g>
										</g>
										<g>
											<g>
												<path class="mag_glass" fill="#FFFFFF" d="M6.057,505.942c4.038,4.039,9.332,6.058,14.625,6.058s10.587-2.019,14.625-6.058L171.268,369.98
												c8.076-8.076,8.076-21.172,0-29.248c-8.076-8.078-21.172-8.078-29.249,0L6.057,476.693
												C-2.019,484.77-2.019,497.865,6.057,505.942z"/>
											</g>
										</g>
									</g>
								</svg>
							</button>
						</form>
					</div>
					
					<!-- Sidebar Archives -->
					<div class="sidebar_archives">
						<div class="sidebar_title">Archives</div>
						<div class="sidebar_list">
							<ul>
								<li><a href="#">March 2017</a></li>
								<li><a href="#">April 2017</a></li>
								<li><a href="#">May 2017</a></li>
							</ul>
						</div>
					</div>
					
					<!-- Sidebar Archives -->
					<div class="sidebar_categories">
						<div class="sidebar_title">Categories</div>
						<div class="sidebar_list">
							<ul>
								<li><a href="#">Career</a></li>
								<li><a href="#">Web development</a></li>
								<li><a href="#">Digital Marketing</a></li>
								<li><a href="#">Job Seekers</a></li>
								<li><a href="#">SEO</a></li>
								<li><a href="#">Content Marketing</a></li>
								<li><a href="#">Job Search</a></li>
							</ul>
						</div>
					</div>

					<!-- Sidebar Latest Posts -->

					<div class="sidebar_latest_posts">
						<div class="sidebar_title">Latest Posts</div>
						<div class="latest_posts_container">
							<ul>

								<!-- Latest Post -->
								<li class="latest_post clearfix">
									<div class="latest_post_image">
										<a href="#"><img src="{% static 'images/learn.jpeg' %}" style="width: 200px;border-radius:10px;"alt=""></a>
									</div>
									<div class="latest_post_content">
										<div class="latest_post_title trans_200"><a href="#">A simple blog post</a></div>
										<div class="latest_post_meta">
											<div class="latest_post_author trans_200"><a href="#">by Jane Smith</a></div>
											<div class="latest_post_date trans_200"><a href="#">Aug 25, 2020</a></div>
										</div>
									</div>
								</li>

								<!-- Latest Post -->
								<li class="latest_post clearfix">
									<div class="latest_post_image">
										<a href="#"><img src="{% static 'images/mission.jpeg' %}"style="width: 200px;border-radius:10px;"alt=""></a>
									</div>
									<div class="latest_post_content">
										<div class="latest_post_title trans_200"><a href="#">Dream Career for you</a></div>
										<div class="latest_post_meta">
											<div class="latest_post_author trans_200"><a href="#">by Jane Smith</a></div>
											<div class="latest_post_date trans_200"><a href="#">Aug 25, 2020</a></div>
										</div>
									</div>
								</li>

								<!-- Latest Post -->
								<li class="latest_post clearfix">
									<div class="latest_post_image">
										<a href="#"><img src="{% static 'images/study1.jpeg' %}" style="width: 200px;border-radius:10px;"alt=""></a>
									</div>
									<div class="latest_post_content">
										<div class="latest_post_title trans_200"><a href="#">Tips to Study Smart</a></div>
										<div class="latest_post_meta">
											<div class="latest_post_author trans_200"><a href="#">by Jane Smith</a></div>
											<div class="latest_post_date trans_200"><a href="#">Aug 25, 2020</a></div>
										</div>
									</div>
								</li>

								<!-- Latest Post -->
								<li class="latest_post clearfix">
									<div class="latest_post_image">
										<a href="#"><img style="width: 200px;border-radius:10px;" src="{% static 'images/immg35.jpg' %}" alt=""></a>
									</div>
									<div class="latest_post_content">
										<div class="latest_post_title trans_200"><a href="#">How to pick your Career</a></div>
										<div class="latest_post_meta">
											<div class="latest_post_author trans_200"><a href="#">by Jane Smith</a></div>
											<div class="latest_post_date trans_200"><a href="#">Aug 25, 2020</a></div>
										</div>
									</div>
								</li>

								
								<!-- Latest Post -->
								<li class="latest_post clearfix">
									<div class="latest_post_image">
										<a href="#"><img src="{% static 'images/mission.jpeg' %}" style="width: 200px;border-radius:10px;" alt=""></a>
									</div>
									<div class="latest_post_content">
										<div class="latest_post_title trans_200"><a href="#">Dream Career for you</a></div>
										<div class="latest_post_meta">
											<div class="latest_post_author trans_200"><a href="#">by Jane Smith</a></div>
											<div class="latest_post_date trans_200"><a href="#">Aug 25, 2020</a></div>
										</div>
									</div>
								</li>
									<!-- Latest Post -->
									<li class="latest_post clearfix">
										<div class="latest_post_image">
											<a href="#"><img src="{% static 'images/study1.jpeg' %}" style="width: 200px;border-radius:10px;"alt=""></a>
										</div>
										<div class="latest_post_content">
											<div class="latest_post_title trans_200"><a href="#">Tips to Study Smart</a></div>
											<div class="latest_post_meta">
												<div class="latest_post_author trans_200"><a href="#">by Jane Smith</a></div>
												<div class="latest_post_date trans_200"><a href="#">Aug 25, 2020</a></div>
											</div>
										</div>
									</li>

									
								<!-- Latest Post -->
								<li class="latest_post clearfix">
									<div class="latest_post_image">
										<a href="#"><img style="width: 200px;border-radius:10px;"src="{% static 'images/immg35.jpg' %}" alt=""></a>
									</div>
									<div class="latest_post_content">
										<div class="latest_post_title trans_200"><a href="#">How to pick your Career</a></div>
										<div class="latest_post_meta">
											<div class="latest_post_author trans_200"><a href="#">by Jane Smith</a></div>
											<div class="latest_post_date trans_200"><a href="#">Aug 25, 2020</a></div>
										</div>
									</div>
								</li>


							</ul>
						</div>
	                </div>			
				</div>
	        </div>	
		</div>
	<br>
	<br>
					
 
<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="footer_background" style="background-image:url({% static 'images/cy.png' %})"></div>
        <div class="row">
            <!-- Footer Column -->
            <div class="col-lg-4 footer_column">
                <div class="footer_col">
                    <div class="footer_content footer_about">
                        <div class="logo_container footer_logo">
                            <div class="logo"><a href="#"><img style="width:150px" src="{% static 'images/cx.png' %}" alt=""></a></div>
                        </div>
                        <p class="footer_about_text" style="max-width: 300px;">Lets get interactive. When you folllow us you will increase your followers.</p>
                       
                    </div>
                    <div class="footer_title" style="margin-top: 30px;color:#0080ff;">contact info</div>
                    <div class="footer_content footer_contact">
                        <ul class="contact_info_list">
                            <li class="contact_info_item d-flex flex-row">
                                
                                <div class="contact_info_text">2556-808-8613</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                
                                <div class="contact_info_text"><a href="mailto:contactme@gmail.com?Subject=Hello" target="_top">contactme@gmail.com</a></div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                
                                <div class="contact_info_text"><a href="https://adhama.com">www.adhama.com</a></div>
                            </li>
                        </ul>
                    </div>
				</div>
				<ul class="footer_social_list">
								
					<li class="footer_social_item"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
					<li class="footer_social_item"><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li class="footer_social_item"><a href="#"><i class="fa fa-google"></i></a></li>
					<li class="footer_social_item"><a href="#"><i class="fa fa-youtube"></i></a></li>
					<li class="footer_social_item"><a href="#"><i class="fa fa-instagram"></i></a></li>
				</ul>
               
            </div>

            
            <!-- Footer Column -->
            <div class="col-lg-4 footer_column" style="padding-left: 30px;">
                <div class="footer_col">
                    <div class="footer_title" style="padding:20px 0 0 25px;color:#0080ff;" >tags</div>
                    <div class="footer_content footer_tags">
                        <ul class="tags_list clearfix">
                            <li class="tag_item"><a href="#">Career</a></li>
                            <li class="tag_item"><a href="#">Web Development</a></li>
                            <li class="tag_item"><a href="#">Job Seekers</a></li>
                            <li class="tag_item"><a href="#">Kenyan Jobs</a></li>
                            <li class="tag_item"><a href="#">Job Search</a></li>
                            <li class="tag_item"><a href="#">Digital Marketing</a></li>
                            <li class="tag_item"><a href="#">Content Marketing</a></li>
                            <li class="tag_item"><a href="#">SEO</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Footer Column -->
            <div class="col-lg-4 footer_column">
                <div class="footer_col">
                    <div class="footer_title" style="color:#0080ff;">blog posts</div>
                    <div class="footer_content footer_blog">
                        
                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="{% static 'images/digital.jpeg' %}" alt="https://unsplash.com/@avidenov"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="blog.html">Characteristics of a great CV</a></div>
                                <div class="footer_blog_date">Nov 29, 2017</div>
                            </div>
                        </div>
                        
                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="{% static 'images/immg20.jpg' %}" alt="https://unsplash.com/@deannaritchie"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="blog.html">5 online courses for an excellent post Covid 19 career </a></div>
                                <div class="footer_blog_date">Nov 29, 2017</div>
                            </div>
                        </div>

                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="{% static 'images/pic3.jpg' %}" alt="https://unsplash.com/@bergeryap87"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="blog.html">Digital Marketing Job:What it takes</a></div>
                                <div class="footer_blog_date">Nov 29, 2017</div>
                            </div>
                        </div>

                        <div class="newsletter" style="padding-top: 150px;">
                            <h5 style="color:#fff;">SUBSCRIBE TO NEWSLETTER</h5>
                            <div class="form-element">
                                <input  style="width:290px" type="text" class="input-element" placeholder="Email"><br><br>
								<button style="background-color:#010080;text-transform:uppercase;width:290px;" class="btn btn-info form-btn">Subscribe</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        
<div class="copyright">
        <div class="row">
            <div class="col-lg-3 order-lg-1 order-2  ">
                <div class="copyright_content d-flex flex-row align-items-center">
                    <div>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Adhama 2020 <i class="fa fa-heart-o"></i></div>
                </div>
            </div>
            </div>	 
        </div>
</div>

        
    </div>

       
</footer>


	
<!--Scripts-->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'js/contact_custom.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/gijgo.min.js' %}"></script>

<!--contact js-->
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

</body>

</html>