{% load static %}
{% static "images" as baseUrl %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="description" content="Adhama">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="{% static 'images/cx.png' %}" style="width:200px;" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="menu_wrap d-none d-lg-block">
                                <div class="menu_wrap_inner d-flex align-items-center justify-content-end">
                                    <div class="main-menu">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a class="active" href="index.html">home</a></li>
                                                <li><a href="about.html">about</a></li>
                                                <li><a href="offers.html">services<i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="elements.html">Training and Tools</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="#">Support<i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="terms.html">Terms of Service</a></li>
                                                        <li><a href="privacy.html">Privacy Policy</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="login">
                                        <div class="login_btn">
                                            <a href="first.html">Login | Register</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay">
                <div class="contact_background" style="background-image:url({% static 'images/cxx.png' %})"></div>
                <div class="container" style="padding-top: 350px;">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="slider_text">
                                <h3>Digital Sales and Marketing</h3>
                                <p>Growing a Digital presence and increasing Online Engagement</p><br>
                                <a href="about.html" class="boxed-btn3">About Us<i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider d-flex align-items-center justify-content-center slider_bg_2 overlay">
                <div class="contact_background" style="background-image:url({% static 'images/cxx.png' %})"></div>
                <div class="container" style="padding-top: 350px;">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="slider_text">
                                <h3>Digital Creatives and Career Guides</h3>
                                <p>The Best Career Development Support</p><br>
                                <a href="about.html" class="boxed-btn3">About Us<i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider d-flex align-items-center justify-content-center slider_bg_3 overlay">
                <div class="contact_background" style="background-image:url({% static 'images/cxx.png' %})"></div>
                <div class="container" style="padding-top: 350px;">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="slider_text">
                                <h3>Development</h3>
                                <p>Expert advice on Career Development</p><br>
                                <a href="about.html" class="boxed-btn3">About Us<i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- about_area_start -->
    <div class="about_area ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="about_thumbs">
                        <div class="large_img_1">
                            <img src="{% static 'images/pic12.jpg' %}" alt="">
                        </div>
                        <div class="small_img_1">
                            <img src="{% static 'images/immg13.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <h3 style="text-transform: uppercase;color: #0080ff;font-size:30px;">Who are We?</h3>
                            <p>ADHAMA specializes in digital and content marketing. We are a team of digital experts who are passionate in sharing the skills about online branding, growing a digital presence and increasing online engagement. Equipping you with practical tools to enable you to attract a large audience and obtain maximum benefits through your online platforms.</p>
                        </div>
                        <a href="about.html" class="boxed-btn3">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->
    <div class="service_area">
        <div class="container" style="background-color:black;border-radius:20px;">
            <div class="row justify-content-center ">
                <div class="col-lg-6 col-md-12">
                    <div class="section_title text-center mb-55">
                        <h3 style="color:#0080ff;text-transform: uppercase;font-size:30px;">Career Development</h3>
                        <p style="color:#fff;">Your Support for career development is important to us as we help you increase your motivation as an employee in innovation and production.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                         <div class="service_thumb">
                             <img src="{% static 'images/immg8.jpg' %}" alt="">
                         </div>
                         <div class="service_content text-center">
                            
                            <h3>Digital sales and Marketing</h3>
                            <p>Refer to promoting and selling of products over the internet using digita devices such as mobiles and PCs.Marketing involves bringing prospects into the funnel while sales involves bringing prospects to customers.</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                         <div class="service_thumb">
                             <img src="{% static 'images/immg7.jpg' %}" alt="">
                         </div>
                         <div class="service_content text-center">
                            
                            <h3>Digital Creativity</h3>
                            <p>What is digital creativity? It involves bringing and using digital tools and technologies to explore creative ideas and new ways of displaying your ideas, research , or work.</p>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                         <div class="service_thumb">
                             <img src="{% static 'images/immg6.jpg' %}" alt="">
                         </div>
                         <div class="service_content text-center">
                            
                            <h3>Development and Programming</h3>
                            <p>Development involves creating something or innovating something that already exists. Programming on the other hand mainly focuses on writing a code to create a program</p>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- featuredjobs_area  -->
<h3 style="color: #0080ff;text-transform: uppercase;font-size:30px;font-weight:300;text-align:center;">Featured Jobs</h3>
<div class="jobs-area">
    <div class="job-container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel test-slides" id="jobs-carousel">
                    {% for dest in dests %}
                    <div class="item">
                    <div class="single-job">
                        <div class="img-area">
                            <img src="{{baseUrl}}/{{dest.img}}" alt="">
                        </div>
                        <div class="job-text">
                            <h4>{{dest.name}}<span>Digital Creativity</span></h4>
                            <p>{{dest.desc}}</p>
                            <a href="offers.html" class="btn1">Learn More</a>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
     <!-- services_area  -->
    <div class="services">
        <div class="services_container">
            <h3 class="heading">The Best Platform to develop yourself</h3>
            <div class="card-wrapper">
                <div class="card">
                    <img src="{% static 'images/immg30.jpg' %}" alt="card-background" class="card-img">
                    <img src="{% static 'images/pic7.jpg' %}" alt="profile image" class="profile-img">
                    <h1>Practical Tools</h1>
                    <p class="about">
                        Get inspired to develop and nurture your digital creativity skills as we equip 
                        you with practical tips and tricks of content creation and content marketing.
                    </p>
                    <a href="#"class="btn1">Explore</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/immg30.jpg' %}" alt="card-background" class="card-img">
                    <img src="{% static 'images/pic8.jpg' %}" alt="profile image" class="profile-img">
                    <h1>Online Presence</h1>
                    <p class="about">
                        Our team comprises of knowledgeable experts who will guide you on how to develop 
                        relevant content and how to attract a large audience to your site.
                    </p>
                    <a href="#"class="btn1">Explore</a> 
                </div>
                <div class="card">
                    <img src="{% static 'images/immg30.jpg' %}" alt="card-background" class="card-img">
                    <img src="{% static 'images/pic9.jpg' %}" alt="profile image" class="profile-img">
                    <h1>Unlimited Access</h1>
                    <p class="about">
                        Through our professional team comprising of digital marketing experts, we share our
                        ideas and practical skills to help you develop and grow your digital brand.
                    </p>
                    <a href="#"class="btn1">Explore</a>
                </div>
                <div class="card">
                    <img src="{% static 'images/immg30.jpg' %}" alt="card-background" class="card-img">
                    <img src="{% static 'images/pic10.jpg' %}" alt="profile image" class="profile-img">
                    <h1>Learn Anywhere</h1>
                    <p class="about">
                        We assist digital creators to achieve significant gains through their platforms,
                        equipping you with ways to attract a massive online following with a lasting impression.
                    </p>
                    <a href="#"class="btn1">Explore</a>
                </div>
            </div>
        </div>
    </div>
<!-- testimonial_area  -->
<h3 style="color: #0080ff;text-transform: uppercase;font-size:30px;font-weight:300;text-align:center;">Testimonies and Client Feedback </h3>
<div class="testimony-area">
    <div class="testimony-container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel test-slides" id="testimony-carousel">
                    {% for desti in destis %}
                    <div class="item">
                    <div class="single-test">
                        <div class="img-area">
                            <img src="{{baseUrl}}/{{desti.img}}" alt="">
                        </div>
                        <div class="testimony-text">
                            <h4>{{desti.name}}<span>{{desti.name2}}</span></h4>
                            <p>{{desti.desc}}</p>
                            <a href="offers.html" class="btn1"> More</a>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="footer_background" style="background-image:url({% static 'images/cy.png' %})"></div>
        <div class="row">
            <!-- Footer Column -->
            <div class="col-lg-4 footer_column">
                <div class="footer_col">
                    <div class="footer_content footer_about">
                        <div class="logo_container footer_logo">
                            <div class="logo"><a href="#"><img style="width:150px" src="{% static 'images/cx.png' %}" alt=""></a></div>
                        </div>
                        <p class="footer_about_text" style="max-width: 300px;">Lets get interactive. When you folllow us you will increase your followers.</p>
                       
                    </div>
                    <div class="footer_title" style="margin-top: 30px;color:#0080ff;">contact info</div>
                    <div class="footer_content footer_contact">
                        <ul class="contact_info_list">
                            <li class="contact_info_item d-flex flex-row">
                                
                                <div class="contact_info_text">2556-808-8613</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                
                                <div class="contact_info_text"><a href="mailto:contactme@gmail.com?Subject=Hello" target="_top">contactme@gmail.com</a></div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                
                                <div class="contact_info_text"><a href="https://adhama.com">www.adhama.com</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="footer_social_list">
								
                    <li class="footer_social_item"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="footer_social_item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="footer_social_item"><a href="#"><i class="fa fa-google"></i></a></li>
                    <li class="footer_social_item"><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li class="footer_social_item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
               
            </div>

            
            <!-- Footer Column -->
            <div class="col-lg-4 footer_column" style="padding-left: 30px;">
                <div class="footer_col">
                    <div class="footer_title" style="padding:20px 0 0 25px;color:#0080ff;" >tags</div>
                    <div class="footer_content footer_tags">
                        <ul class="tags_list clearfix">
                            <li class="tag_item"><a href="#">Career</a></li>
                            <li class="tag_item"><a href="#">Web Development</a></li>
                            <li class="tag_item"><a href="#">Job Seekers</a></li>
                            <li class="tag_item"><a href="#">Kenyan Jobs</a></li>
                            <li class="tag_item"><a href="#">Job Search</a></li>
                            <li class="tag_item"><a href="#">Digital Marketing</a></li>
                            <li class="tag_item"><a href="#">Content Marketing</a></li>
                            <li class="tag_item"><a href="#">SEO</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Footer Column -->
            <div class="col-lg-4 footer_column">
                <div class="footer_col">
                    <div class="footer_title" style="color:#0080ff;">blog posts</div>
                    <div class="footer_content footer_blog">
                        
                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="{% static 'images/digital.jpeg' %}" alt="https://unsplash.com/@avidenov"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="blog.html">Characteristics of a great CV</a></div>
                                <div class="footer_blog_date">Nov 29, 2017</div>
                            </div>
                        </div>
                        
                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="{% static 'images/immg20.jpg' %}" alt="https://unsplash.com/@deannaritchie"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="blog.html">5 online courses for an excellent post Covid 19 career </a></div>
                                <div class="footer_blog_date">Nov 29, 2017</div>
                            </div>
                        </div>

                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="{% static 'images/pic3.jpg' %}" alt="https://unsplash.com/@bergeryap87"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="blog.html">Digital Marketing Job:What it takes</a></div>
                                <div class="footer_blog_date">Nov 29, 2017</div>
                            </div>
                        </div>

                        <div class="newsletter" style="padding-top: 150px;">
                            <h4 style="color:#fff;">SUBSCRIBE TO NEWSLETTER</h4>
                            <div class="form-element">
                                <input  style="width:260px" type="text" class="input-element" placeholder="Email"><br><br>
								<button style="background-color:#010080;text-transform:uppercase;width:260px;" class="btn btn-info form-btn">Subscribe</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        
<div class="copyright">
   
        <div class="row">
            <div class="col-lg-3 order-lg-1 order-2  ">
                <div class="copyright_content d-flex flex-row align-items-center">
                    <div>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Adhama 2020 <i class="fa fa-heart-o"></i></div>
                </div>
            </div>
            </div>	 
        </div>
</div>

        
    </div>

       
</footer>


    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $('#jobs-carousel').owlCarousel({
            autoplay:true,
            dots:false,
            nav:true,
            loop:true,
            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:1
                },
                1000:{
                    items:2
                }
            }
        })
    </script>
    <script>
        $('#testimony-carousel').owlCarousel({
            autoplay:true,
            dots:false,
            nav:true,
            loop:true,
            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:2
                },
                1000:{
                    items:3
                }
            }
        })
    </script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            disableDaysOfWeek: [0, 0],
        //     icons: {
        //      rightIcon: '<span class="fa fa-caret-down"></span>'
        //  }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
        var timepicker = $('#timepicker').timepicker({
         format: 'HH.MM'
     });
    </script>
</body>

</html>