{% load static %}
{% static "images" as baseUrl %}
<!doctype html>
<html lang="en">
  <head>
    <title>Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{% static 'css/custom-bs.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/line-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">

    
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'styles/offers_styles.css' %}">    
  </head>
  <body>
    
    <header>
      <div class="header-area">
          <div id="sticky-header" class="main-header-area">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-xl-3 col-lg-3">
                          <div class="logo-img">
                              <a href="index.html">
                                <img src="{% static 'images/cx.png' %}" style="width:200px;" alt="">
                              </a>
                          </div>
                      </div>
                      <div class="col-xl-9 col-lg-9">
                          <div class="menu_wrap d-none d-lg-block">
                              <div class="menu_wrap_inner d-flex align-items-center justify-content-end">
                                  <div class="main-menu">
                                      <nav>
                                          <ul id="navigation">
                                              <li><a class="active" href="index.html">home</a></li>
                                              <li><a href="about.html">about</a></li>
                                              <li><a href="offers.html">services<i class="ti-angle-down"></i></a>
                                                  <ul class="submenu">
                                                      <li><a href="elements.html">Training and Tools</a></li>
                                                  </ul>
                                              </li>
                                              <li><a href="blog.html">Blog</a></li>
                                              <li><a href="#">Support<i class="ti-angle-down"></i></a>
                                                  <ul class="submenu">
                                                      <li><a href="terms.html">Terms of Service</a></li>
                                                      <li><a href="privacy.html">Privacy Policy</a></li>
                                                  </ul>
                                              </li>
                                              <li><a href="contact.html">Contact</a></li>
                                          </ul>
                                      </nav>
                                  </div>
                                  <div class="login">
                                      <div class="login_btn">
                                          <a href="first.html">Login | Register</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-12">
                          <div class="mobile_menu d-block d-lg-none"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- header-end -->
    <!-- HOME -->
    <section class="home-section section-hero overlay bg-image" style="background-image: url({% static 'images/hero_1.jpg' %});" id="home-section">
     
      <div class="container">
        <div class="contact_background" style="background-image:url({% static 'images/cxx.png' %})"></div>
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="font-weight-bold" style="color: #0080ff;font-size:60px;font-weight:300;">Our Services</h1>
            </div>
            <form method="post" class="search-jobs-form">
              <div class="row mb-5">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <input type="text" class="form-control form-control-lg" placeholder="Qualification, Level...">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <select class="selectpicker" data-style="btn-white btn-lg" data-width="100%" data-live-search="true" title="Select Category">
                    <option>Career Development</option>
                    <option>Digital Sales and Marketing</option>
                    <option>Digital Creatives</option>
                    <option>Development and Programming</option>
                  </select>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <select class="selectpicker" data-style="btn-white btn-lg" data-width="100%" data-live-search="true" title="Select Job Type">
                    <option>All</option>
                    <option>Content Ceator</option>
                    <option>Programmer</option>
                    <option>Transcriptionist</option>
                    <option>SEO and Paid ads</option>
                    <option>Social Media Managers</option>
                    <option>Digital Media Managers</option>
                    <option>Web Developer</option>
                    <option>Web Designer</option>
                    <option>Graphic Designer</option>

                  </select>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <button type="submit" class="btn btn-info btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Search Job</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 popular-keywords">
                  <h3>Trending Keywords:</h3>
                  <ul class="keywords list-unstyled m-0 p-0">
                    <li><a href="#" class="">UI Designer</a></li>
                    <li><a href="#" class="">Digital</a></li>
                    <li><a href="#" class="">Developer</a></li>
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <a href="#next" class="scroll-button smoothscroll">
        <span class=" icon-keyboard_arrow_down"></span>
      </a>

    </section>

    <!-- services -->
	<div class="services_container">
		<div class="services_background" style="background-image:url({% static 'images/immg29.jpg' %})"></div>
        <div class="card">
            <div class="imgBx" data-text="Learn">
                <img src="{% static 'images/book.png' %}">
            </div>
            <div class="content">
                <div>
                    <h3 style="color: #0080ff;">Learn</h3>
                    <p style="font-size: 15px;color:black;">Growing a digital presence and increasing online engagement.Learn anywhere.</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx" data-text="Analytics">
                <img src="{% static 'images/strategic-plan.png' %}">
            </div>
            <div class="content">
                <div>
                    <h3 style="color: #0080ff;">Analytics</h3>
                    <p style="font-size: 15px;color:black;">Equipping you with practical tools to enable you to attract a large audience.</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx" data-text="Research">
                <img src="{% static 'images/webinar.png' %}">
            </div>
            <div class="content">
                <div>
                    <h3 style="color: #0080ff;">Research</h3>
                    <p style="font-size: 15px;color:black;">Obtain maximum benefits through the online platforms.Learn from indusry experts passionate about teaching.</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx" data-text="Access">
                <img src="{% static 'images/key.png' %}">
            </div>
            <div class="content">
                <div>
                    <h3 style="color: #0080ff;">Access</h3>
                    <p style="font-size: 15px;color:black;">Choose from our extensive subscription library.Switch between your computer, tablet or mobile device</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
		</div>	
        </div>
	</div>


 
<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="footer_background" style="background-image:url({% static 'images/cy.png' %})"></div>
        <div class="row">
            <!-- Footer Column -->
            <div class="col-lg-4 footer_column">
                <div class="footer_col">
                    <div class="footer_content footer_about">
                        <div class="logo_container footer_logo">
                            <div class="logo"><a href="#"><img style="width:150px" src="{% static 'images/cx.png' %}" alt=""></a></div>
                        </div>
                        <p class="footer_about_text" style="max-width: 300px;">Lets get interactive. When you folllow us you will increase your followers.</p>
                       
                    </div>
                    <div class="footer_title" style="margin-top: 30px;color:#0080ff;">contact info</div>
                    <div class="footer_content footer_contact">
                        <ul class="contact_info_list">
                            <li class="contact_info_item d-flex flex-row">
                                
                                <div class="contact_info_text">2556-808-8613</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                
                                <div class="contact_info_text"><a href="mailto:contactme@gmail.com?Subject=Hello" target="_top">contactme@gmail.com</a></div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                
                                <div class="contact_info_text"><a href="https://adhama.com">www.adhama.com</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="footer_social_list">
								
                    <li class="footer_social_item"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="footer_social_item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="footer_social_item"><a href="#"><i class="fa fa-google"></i></a></li>
                    <li class="footer_social_item"><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li class="footer_social_item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
               
            </div>

            
            <!-- Footer Column -->
            <div class="col-lg-4 footer_column" style="padding-left: 30px;">
                <div class="footer_col">
                    <div class="footer_title" style="padding:20px 0 0 25px;color:#0080ff;" >tags</div>
                    <div class="footer_content footer_tags">
                        <ul class="tags_list clearfix">
                            <li class="tag_item"><a href="#">Career</a></li>
                            <li class="tag_item"><a href="#">Web Development</a></li>
                            <li class="tag_item"><a href="#">Job Seekers</a></li>
                            <li class="tag_item"><a href="#">Kenyan Jobs</a></li>
                            <li class="tag_item"><a href="#">Job Search</a></li>
                            <li class="tag_item"><a href="#">Digital Marketing</a></li>
                            <li class="tag_item"><a href="#">Content Marketing</a></li>
                            <li class="tag_item"><a href="#">SEO</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Footer Column -->
            <div class="col-lg-4 footer_column">
                <div class="footer_col">
                    <div class="footer_title" style="color:#0080ff;">blog posts</div>
                    <div class="footer_content footer_blog">
                        
                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="{% static 'images/digital.jpeg' %}" alt="https://unsplash.com/@avidenov"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="blog.html">Characteristics of a great CV</a></div>
                                <div class="footer_blog_date">Nov 29, 2017</div>
                            </div>
                        </div>
                        
                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="{% static 'images/immg20.jpg' %}" alt="https://unsplash.com/@deannaritchie"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="blog.html">5 online courses for an excellent post Covid 19 career </a></div>
                                <div class="footer_blog_date">Nov 29, 2017</div>
                            </div>
                        </div>

                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="{% static 'images/pic3.jpg' %}" alt="https://unsplash.com/@bergeryap87"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="blog.html">Digital Marketing Job:What it takes</a></div>
                                <div class="footer_blog_date">Nov 29, 2017</div>
                            </div>
                        </div>

                        <div class="newsletter" style="padding-top: 150px;">
                            <h5 style="color:#fff;">SUBSCRIBE TO NEWSLETTER</h5>
                            <div class="form-element">
                                <input  style="width:290px" type="text" class="input-element" placeholder="Email"><br><br>
								<button style="background-color:#010080;text-transform:uppercase;width:290px;" class="btn btn-info form-btn">Subscribe</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
        
<div class="copyright">
        <div class="row">
            <div class="col-lg-3 order-lg-1 order-2  ">
                <div class="copyright_content d-flex flex-row align-items-center">
                    <div>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Adhama 2020 <i class="fa fa-heart-o"></i></div>
                </div>
            </div>
            </div>	 
        </div>
</div>

        
    </div>

       
</footer>



    <!-- SCRIPTS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/stickyfill.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>    
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>    
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/gijgo.min.js' %}"></script>

<!--contact js-->
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>



</body>
</html>