<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Terms of Service</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="styles/terms_styles.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>

    <!-- header-start -->
    <header>
        <div class="header-area">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="index.html">
                                    <img src="images/cx.png" style="width:200px;" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="menu_wrap d-none d-lg-block">
                                <div class="menu_wrap_inner d-flex align-items-center justify-content-end">
                                    <div class="main-menu">
                                        <nav>
                                            <ul id="navigation" style="margin: 0px;">
                                                <li><a class="active" href="index.html">home</a></li>
                                                <li><a href="about.html">about</a></li>
                                                <li><a href="offers.html">services<i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="elements.html">Training and Tools</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="#">Support<i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="terms.html">Terms of Service</a></li>
                                                        <li><a href="privacy.html">Privacy Policy</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html">Contact</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="login">
                                        <div class="login_btn">
                                            <a href="first.html">Login | Register</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->


 <!-- slider_area_start -->
 <div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-right justify-content-right slider_bg_1 overlay">
            <div class="contact_background" style="background-image:url(images/cxx.png)"></div>
            <div class="container" style="padding-top: 500px;">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>Privacy Policy</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<div class="privacy_area" style=" margin: 2rem;">
    <h1>Privacy Policy</h1>

<p>THIS IS A LEGALLY BINDING AGREEMENT BETWEEN YOU AND ADHAMA, AND BY USING THE SERVICES, YOU AGREE TO THE TERMS OF THIS PRIVACY POLICY AND THE TERMS OF USE. You should review this Privacy Policy in conjunction with our Terms of service.</p>

<p>You should not use the Services if You do not agree with this Privacy Policy, Our Terms of Use and any other agreement or policy that governs Your use of our services.</p>
<br/>
<h3>1. Information You Provide to Us Directly</h3>

<p>We may collect different information from or about You depending on the manner in which You use the Services. The following examples are provided to help You better understand the information We may collect through Your use of the Services.</p>
<p>Please note that Adhama is not responsible for how others use information that is publicly available or otherwise accessible to others who have access to the services.When You sign up for and use the Services (including through a Third Party Platform) We will collect any information You provide to Us directly such as the following:
<ul>
<li> 
<h3>Registration Information:</h3>
<p> In order to use certain features of the services, You are required to register for an Account, and in that case, We will collect and store any registration information You provided to Us, such as e-mail address, password, Your date of birth, and age, and we will assign You a personal account.</p>
</li>
<li>  
<h3>Profile Information:</h3>
<p>You may also have the option of providing additional information about Yourself, including but not limited to a photo, headline, website link, social media profiles, or other information you may choose to enter ("Profile Information") to create a profile ("Profile"). Your Profile and Profile Information will be publicly viewable to others.</p>
</li> 
<li>
<h3>Public Posting / Shared Content:</h3>
<p>Some of the Services may allow You to interact with other Users and/or post, share, communicate or otherwise transmit content publicly. We may collect and store Public Postings and Shared Content. Shared Content or Public Postings may be publicly available or viewable by others depending on where such content is posted.</p>
<p>You hereby grant Adhama a non-exclusive right and license to reproduce, distribute, publicly perform, offer, market and otherwise use and exploit the Public Postings and Shared Content.</p>
</li>
</ul>
</p>

<h3>2. Cookies and Data Collection Tools</h3>
<p>Like most websites and app providers, Adhama may use server log files and automated data collection tools, such as cookies, tags, scripts, device or browser fingerprints, and web beacons (collectively, "Data Collection Tools") when You access and use our Services. In some cases, We tie the information gathered by these means to Our other information You provide and that we collect as described in this Privacy Policy. These Data Collection Tools automatically track and collect certain Technical Information and Usage Data that Your browser sends when You use our Services. In some cases, We will associate this Technical Information and Usage Data with other information about you.</p>

<p>We use cookies for a variety of reasons, including to:
<ul>
<li>Analyze the usage of our Services;</li>
<li>Allow You to more easily login to use our Services;</li>
<li>Provide a more personalized experience; and</li>
<li>Help make Your use of Our Services more efficient and more valuable by providing You with a customized experience and recognizing You when You return.</li>
</ul>
</p>

<p> We may also employ web beacons or other technology for a variety of reasons such as:
<ul>
<li>Allowing Us to know if a certain page was visited or whether an e-mail was opened;</li>
<li>Allowing Us to advertise more efficiently by excluding our current Users from certain promotional messages or identifying the source of a new installation.</li>
</ul>
</p>

<h3>3.Your Rights</h3>
<p>When using our website and submitting personal data to us, you may have certain rights under the General Data Protection Regulation (GDPR) and other laws. Depending on the legal basis for processing your personal data, you may have some or all of the following rights:
<ul>

<li>
<h5>The right to be informed</h5>
<p>You have the right to be informed about the personal data we collect from you, and how we process it.</p>
</li>

<li>
<h5>The right of access</h5>
<p>You have the right to get confirmation that your personal data is being processed and have the ability to access your personal data.</p>
</li>

<li>
<h5>The right to rectification</h5>
<p>You have the right to have your personal data corrected if it is inaccurate or incomplete.</p>
</li>

<li>
<h5>The right to erasure (right to be forgotten)</h5>
<p>You have the right to request the removal or deletion of your personal data if there is no compelling reason for us to continue processing it.</p>
</li>

<li>
<h5>The right to restrict processing</h5>
<p>You have a right to ‘block’ or restrict the processing of your personal data. When your personal data is restricted, we are permitted to store your data, but not to process it further.</p>
</li>

<li>
<h5>The right to object</h5>
<p>You have the right to object to us processing your personal data for the following reasons:
<ul>
<li>Processing was based on legitimate interests or the performance of a task in the public interest/exercise of official authority (including profiling);</li>
<li>Direct marketing (including profiling);</li>
<li>Processing for purposes of scientific/historical research and statistics.</li>
<li>Rights in relation to automated decision-making and profiling.</li>
</ul>
</p>
</li>
</div>











<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="footer_background" style="background-image:url(images/cy.png)"></div>
        <div class="row">
            <!-- Footer Column -->
            <div class="col-lg-4 footer_column">
                <div class="footer_col">
                    <div class="footer_content footer_about">
                        <div class="logo_container footer_logo">
                            <div class="logo"><a href="#"><img style="width:150px" src="images/cx.png" alt=""></a></div>
                        </div>
                        <p class="footer_about_text" style="max-width: 300px;">Lets get interactive. When you folllow us you will increase your followers.</p>
                       
                    </div>
                    <div class="footer_title" style="margin-top: 30px;color:#0080ff;">contact info</div>
                    <div class="footer_content footer_contact">
                        <ul class="contact_info_list">
                            <li class="contact_info_item d-flex flex-row">
                                
                                <div class="contact_info_text">2556-808-8613</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                
                                <div class="contact_info_text"><a href="mailto:contactme@gmail.com?Subject=Hello" target="_top">contactme@gmail.com</a></div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                
                                <div class="contact_info_text"><a href="https://adhama.com">www.adhama.com</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="footer_social_list">
								
                    <li class="footer_social_item"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="footer_social_item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="footer_social_item"><a href="#"><i class="fa fa-google"></i></a></li>
                    <li class="footer_social_item"><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li class="footer_social_item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
               
            </div>

            
            <!-- Footer Column -->
            <div class="col-lg-4 footer_column" style="padding-left: 30px;">
                <div class="footer_col">
                    <div class="footer_title" style="padding:20px 0 0 25px;color:#0080ff;" >tags</div>
                    <div class="footer_content footer_tags">
                        <ul class="tags_list clearfix">
                            <li class="tag_item"><a href="#">Career</a></li>
                            <li class="tag_item"><a href="#">Web Development</a></li>
                            <li class="tag_item"><a href="#">Job Seekers</a></li>
                            <li class="tag_item"><a href="#">Kenyan Jobs</a></li>
                            <li class="tag_item"><a href="#">Job Search</a></li>
                            <li class="tag_item"><a href="#">Digital Marketing</a></li>
                            <li class="tag_item"><a href="#">Content Marketing</a></li>
                            <li class="tag_item"><a href="#">SEO</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Footer Column -->
            <div class="col-lg-4 footer_column">
                <div class="footer_col">
                    <div class="footer_title" style="color:#0080ff;">blog posts</div>
                    <div class="footer_content footer_blog">
                        
                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="images/digital.jpeg" alt="https://unsplash.com/@avidenov"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="blog.html">Characteristics of a great CV</a></div>
                                <div class="footer_blog_date">Nov 29, 2017</div>
                            </div>
                        </div>
                        
                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="images/immg20.jpg" alt="https://unsplash.com/@deannaritchie"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="blog.html">5 online courses for an excellent post Covid 19 career </a></div>
                                <div class="footer_blog_date">Nov 29, 2017</div>
                            </div>
                        </div>

                        <!-- Footer blog item -->
                        <div class="footer_blog_item clearfix">
                            <div class="footer_blog_image"><img src="images/pic3.jpg" alt="https://unsplash.com/@bergeryap87"></div>
                            <div class="footer_blog_content">
                                <div class="footer_blog_title"><a href="blog.html">Digital Marketing Job:What it takes</a></div>
                                <div class="footer_blog_date">Nov 29, 2017</div>
                            </div>
                        </div>

                        <div class="newsletter" style="padding-top: 150px;">
                            <h5 style="color:#fff;">SUBSCRIBE TO NEWSLETTER</h5>
                            <div class="form-element">
                                <input  style="width:290px" type="text" class="input-element" placeholder="Email"><br><br>
								<button style="background-color:#010080;text-transform:uppercase;width:290px;" class="btn btn-info form-btn">Subscribe</button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
        
<div class="copyright">
        <div class="row">
            <div class="col-lg-3 order-lg-1 order-2  ">
                <div class="copyright_content d-flex flex-row align-items-center">
                    <div>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Adhama 2020 <i class="fa fa-heart-o"></i></div>
                </div>
            </div>
            </div>	 
        </div>
</div>

        
    </div>

       
</footer>


<!-- SCRIPTS -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/stickyfill.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/owl.carousel.min.js"></script>    
<script src="js/bootstrap-select.min.js"></script>    
<script src="js/custom.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/gijgo.min.js"></script>

<!--contact js-->
<script src="js/contact.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/mail-script.js"></script>

<script src="js/main.js"></script>
<script>
$('#datepicker').datepicker({
  iconsLibrary: 'fontawesome',
  disableDaysOfWeek: [0, 0],
//     icons: {
//      rightIcon: '<span class="fa fa-caret-down"></span>'
//  }
});
$('#datepicker2').datepicker({
  iconsLibrary: 'fontawesome',
  icons: {
   rightIcon: '<span class="fa fa-caret-down"></span>'
}

});
var timepicker = $('#timepicker').timepicker({
format: 'HH.MM'
});
</script>


</body>
</html>