@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.overlay::before {
  background-image: -moz-linear-gradient(170deg, rgba(34, 34, 34, 0) 0%, black 100%);
  background-image: -webkit-linear-gradient(170deg, rgba(34, 34, 34, 0) 0%, black 100%);
  background-image: -ms-linear-gradient(170deg, rgba(34, 34, 34, 0) 0%, black 100%);
}

/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* 1. Theme default css */


body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}


.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}


a:focus {
  text-decoration: none;
}


a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}


a,
button {
  color: #1F1F1F;
  outline: medium none;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}


p {
  font-size: 10px;
  font-weight: 100;
  line-height: 20px;
  margin-bottom: 13px;
  font-family: "Roboto", sans-serif;
}


label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}


*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}


::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}



*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}


h3 {
  font-size: 20px;
}


.mb-65 {
  margin-bottom: 67px;
}


.black-bg {
  background: #020c26 !important;
}


.white-bg {
  background: #ffffff;
}



.gray-bg {
  background: #f5f5f5;
}


.bg-img-1 {
  background-image: url(../images/immg21.jpg);
}


.overlay {
  position: relative;
  z-index: 0;
}
.overlay::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.overlay2 {
  position: relative;
  z-index: 0;
}
.overlay2::before {
  position: absolute;
  content: "";
  background-color: #2E2200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}
.pt-120 {
  padding-top: 120px;
}
.owl-carousel .owl-nav div {
  background: transparent;
  height: 54px;
  left: 0px;
  line-height: 54px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 54px;
  font-size: 25px;
  color: #fff;
  background-color: white;
  border-radius: 50%;
  left: 50px;
  font-size: 18px;
  line-height: 54px;
  left: -26px;
  font-size: 18px;
  line-height: 54px;
  color: #000;
}

.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: -30px;
}

.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
  top: 1px;
}


.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  right: 1px;
  top: 0px;
}

.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}


.owl-carousel:hover .owl-nav div:hover {
  color: #fff;
  background: #EB592D;
}


.mb-20px {
  margin-bottom: 20px;
}

.mb-90 {
  margin-bottom: 90px;
}

@media (max-width: 767px) {
  
  .mb-90 {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .mb-90 {
    margin-bottom: 45px;
  }
}

.boxed-btn {
  background: #fff;
  color: #EB592D;
  display: inline-block;
  padding: 18px 44px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #EB592D;
  letter-spacing: 3px;
  text-align: center;
  color: #EB592D !important;
  text-transform: uppercase;
  cursor: pointer;
}


.boxed-btn:hover {
  background: #EB592D;
  color: #fff !important;
  border: 1px solid #EB592D;
}

.boxed-btn:focus {
  outline: none;
}

.boxed-btn.large-width {
  width: 220px;
}
.boxed-btn3 {
  background: #fff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 20px;
  border: 1px solid transparent;
  color: #000;
  padding: 19px 43px 23px 43px;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  line-height: 1;
}
.boxed-btn3:hover {
  background: transparent;
  color: #FFF;
  border: 1px solid #001080;
}


.boxed-btn3:focus {
  outline: none;
}


.boxed-btn2 {
  background: transparent;
  color: #fff;
  display: inline-block;
  padding: 18px 24px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.boxed-btn2:hover {
  background: #fff;
  color: #131313 !important;
}

.boxed-btn2:focus {
  outline: none;
}
.line-button {
  color: #919191;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding-right: 5px;
  padding-bottom: 2px;
}


.line-button::before {
  position: absolute;
  content: "";
  background: #919191;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

.line-button:hover {
  color: #009DFF;
}

.line-button:hover::before {
  background: #009DFF;
}

.book_now {
  display: inline-block;
  font-size: 14px;
  color: #009DFF;
  border: 1px solid #009DFF;
  text-transform: capitalize;
  padding: 10px 25px;
}

.book_now:hover {
  background: #009DFF;
  color: #fff;
}
.section_title h3 {
  font-size: 50px;
  font-weight: 400;
  line-height: 51px;
  color: #222222;
  font-family: "Roboto", sans-serif;
  margin-bottom: 21px;
}

@media (max-width: 767px) {
  
  .section_title h3 {
    font-size: 27px;
    line-height: 33px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .section_title h3 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  
  .section_title h3 {
    font-size: 33px;
    line-height: 40px;
  }
}

@media (max-width: 767px) {

  .section_title h3 br {
    display: none;
  }
}


.section_title p {
  font-size: 16px;
  line-height: 32px;
  color: #7f7f7f;
  font-weight: 400;
}

.mb-100 {
  margin-bottom: 100px;
}

@media (max-width: 767px) {
 
  .mb-100 {
    margin-bottom: 40px;
  }
}

.section_title2 i {
  font-size: 45px;
  color: #BC9321;
  display: block;
}

.section_title2 h3 {
  font-size: 42px;
  font-weight: 400;
  line-height: 52px;
  color: #EB592D;
  position: relative;
  padding-bottom: 30px;
  margin-top: 10px;
}

.section_title2 h3::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 1px;
  background: #BC9321;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
}

@media (max-width: 767px) {
  
  .section_title2 h3 {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .section_title2 h3 {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 767px) {
  
  .section_title2 h3 br {
    display: none;
  }
}

.section_title3 h3 {
  font-size: 60px;
  color: #FFFFFF;
  font-weight: 900;
  text-transform: capitalize;
}

@media (max-width: 767px) {

  .section_title3 h3 {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
 
  .section_title3 h3 {
    font-size: 35px;
  }
}
.section_title3.padding_plus {
  padding-top: 115px;
  padding-bottom: 50px;
}

@media (max-width: 767px) {

  .section_title3.padding_plus {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .section_title3.padding_plus {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}


.mb-55 {
  margin-bottom: 53px;
}

@media (max-width: 767px) {

  .mb-55 {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .mb-55 {
    margin-bottom: 40px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

@media (max-width: 767px) {

  .mb-40 {
    margin-bottom: 30px;
  }
}


.pl-68 {
  padding-left: 68px;
}

@media (max-width: 767px) {

  .pl-68 {
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .pl-68 {
    padding-left: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {

  .pl-68 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}

.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
}

.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #4A3600;
}

.slicknav_menu .slicknav_nav a.active {
  color: #4A3600;
}

@media (max-width: 767px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slicknav_menu .slicknav_nav a i {
    display: none;
  }
}

.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -32px;
}

.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
}

@media (max-width: 767px) {
  .slicknav_menu {
    margin-right: 0px;
  }
}

.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
  top: -31px;
}
.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -26px;
}

.header-area {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 20px;
  z-index: 9;
}

@media (max-width: 767px) {
  .header-area {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .header-area {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding: 10px 10px;
  }
}

@media (max-width: 767px) {
  
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  
  .header-area .main-header-area .logo-img {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .logo-img img {
    width: 70px;
  }
}
.header-area .main-header-area .login {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

.header-area .main-header-area .login .socail_links ul li {
  display: inline-block;
}


.header-area .main-header-area .login .socail_links ul li a {
  color: #A8A7A0;
  margin: 0 10px;
  font-size: 15px;
}

.header-area .main-header-area .login .socail_links ul li a:hover {
  color: #fff;
}
.header-area .main-header-area .login .login_btn a {
  background: #0080ff;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid transparent;
  color: #fff;
  padding: 10px 20px 10px 20px;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  line-height: 1;
  border-radius: 10px;
}
.header-area .main-header-area .login .login_btn a:hover {
  background: white;
  color:black;
  border: 1px solid #010080;
}


.header-area .main-header-area .main-menu {
  text-align: center;
  top: 55px;
}

.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin-right: 45px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .main-menu ul li {
    margin-right: 45px;
  }
}
.header-area .main-header-area .main-menu ul li a {
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 39px 0px 39px 0px;
  font-family: "Roboto", sans-serif;
  position: relative;
  text-transform: capitalize;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .main-menu ul li a {
    font-size: 15px;
  }
}
.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}
.header-area .main-header-area .main-menu ul li a:hover {
  color: #0080ff;
}

.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 140%;
  background: black;
  width: 200px;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #fff;
}

.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #0080ff;
}
.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}
.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 999;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: #000;
}

@media (max-width: 767px) {
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area.sticky {
    padding: 10px 10px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area.sticky {
    padding: 10px 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area.sticky {
    padding: 10px 20px;
  }
}
.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

.contact_background
{
	position: absolute;
	bottom: -34px;
	left: 0;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	opacity: 0.8;
}

	
@media only screen and (max-width: 768px)
{
	.contact_background{
		height: 65vh;
		top: 0;

	}
}

@media only screen and (max-width: 768px)
{
	.contact_background{
		height: 65vh;
		top: 0;

	}
}

@media only screen and (max-width: 1600px)
{
	.contact_background{
		height: 105vh;
		top: 0;

	}
}
@media only screen and (max-width: 1440px)
{
	.contact_background{
		height: 95vh;
		top: 0;

	}
}

@media only screen and (max-width: 1380px)
{
	.contact_background{
		height: 85vh;
		top: 0;

  }
  
@media (max-width: 457px){
  .contact_background{
    height: 45vh;
  }
}
}
  .home-section {
	position: relative; }
	.home-section > .container {
	  z-index: 2;
	  position: relative; }
	.home-section h1 {
	  font-size: 3rem;
	  color: #fff;
	  font-weight: 200; }
	  @media (max-width: 991.98px) {
		.home-section h1 {
		  font-size: 2rem; } }
	.home-section p {
	  font-size: 1.2rem;
	  color: rgba(255, 255, 255, 0.6); }
	.home-section .search-jobs-form .form-control, .home-section .search-jobs-form .btn-lg {
	  height: calc(2em + 1rem + 2px);
	  padding: 0.5rem 1rem;
	  font-size: 1rem;
	  background-color: #0080ff;
	  line-height: 1.5;
	  border-radius: 10px; }
	.home-section .search-jobs-form .btn-search > span {
	  font-size: 1rem;
	  position: relative; }
	.home-section .search-jobs-form .dropdown-menu {
	  position: relative;
	  z-index: 4;
	  -webkit-box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.4);
	  box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.4); }
	.home-section .search-jobs-form .filter-option:after {
	  border: none;
	  display: inline-block;
	  position: absolute;
	  content: "\e313";
	  font-size: 16px;
	  top: 50%;
	  right: 10px;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	  font-family: 'icomoon'; }
	.home-section .search-jobs-form .filter-option.dropup {
	  border: 1px solid red !important; }
	  .home-section .search-jobs-form .filter-option.dropup:after {
		display: none; }
	.home-section .search-jobs-form .dropup .dropdown-toggle:after, .home-section .search-jobs-form .dropup .filter-option:after {
	  border: none;
	  display: inline-block;
	  position: absolute;
	  content: "\e313";
	  font-size: 16px;
	  top: 50%;
	  right: 10px;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	  font-family: 'Roboto',sans-serif;
	  -webkit-transform: rotate(180deg) translateY(50%);
	  -ms-transform: rotate(180deg) translateY(50%);
	  transform: rotate(180deg) translateY(50%); }
	.home-section .search-jobs-form .dropup .filter-option:after {
	  display: none !important; }
	.home-section .search-jobs-form .btn-white {
	  background: #fff;
	  color: #343a40; }
	  .home-section .search-jobs-form .btn-white:hover, .home-section .search-jobs-form .btn-white:active, .home-section .search-jobs-form .btn-white:focus {
		outline: none !important; }
	.home-section .search-jobs-form .form-control {
	  background: #fff;
	  border: transparent !important;
	  color: #343a40; }
	  .home-section .search-jobs-form .form-control:active, .home-section .search-jobs-form .form-control:focus {
		color: #343a40; }
	  .home-section .search-jobs-form .form-control::-webkit-input-placeholder {
		/* Chrome/Opera/Safari */
		color: rgba(52, 58, 64, 0.5); }
	  .home-section .search-jobs-form .form-control::-moz-placeholder {
		color: rgba(52, 58, 64, 0.5); }
	  .home-section .search-jobs-form .form-control:-ms-input-placeholder {
		color: rgba(52, 58, 64, 0.5); }
	  .home-section .search-jobs-form .form-control:-moz-placeholder {
		color: rgba(52, 58, 64, 0.5); }
	.home-section .search-jobs-form .bs-searchbox .form-control {
	  height: calc(1em + 1rem + 2px);
	  padding: 0.5rem .5rem;
	  margin-bottom: .3rem;
	  color: #343a40;
	  background: #fff;
	  border: 1px solid #eee !important; }
	.home-section .search-jobs-form .dropdown-item.active {
	  -webkit-box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
	  box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4); }
	.home-section .scroll-button {
	  position: absolute;
	  z-index: 2;
	  bottom: 0;
	  width: 50px;
	  height: 50px;
	  border-radius: 50%;
	  background: #fff;
	  left: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
	  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2); }
	  .home-section .scroll-button > span {
		color: #000;
		position: absolute;
		font-size: 2rem;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%); }
  
  .bg-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat; }
	.bg-image.fixed {
	  background-attachment: fixed; }
	.bg-image.overlay-primary {
	  position: relative; }
	  .bg-image.overlay-primary:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(137, 186, 22, 0.9);
		z-index: 1; }
	  .bg-image.overlay-primary > .container {
		position: relative;
		z-index: 2; }
	.bg-image.overlay-blue {
	  position: relative; }
	  .bg-image.overlay-blue:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(137, 186, 22, 0.9);
		z-index: 1; }
	  .bg-image.overlay-blue > .container {
		position: relative;
		z-index: 2; }
  
  .form-group .filter-option:after {
	border: none !important;
	display: inline-block;
	position: absolute;
	content: "\e313";
	font-size: 16px;
	top: 50%;
	right: 10px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: 'Roboto',sans-serif; }
  
  .form-group .filter-option.dropup {
	border: 1px solid red !important; }
	.form-group .filter-option.dropup:after {
	  display: none; }
  
  .form-group .dropup .dropdown-toggle:after {
	border: none;
	display: inline-block;
	position: absolute;
	content: "\e313";
	font-size: 16px;
	top: 50%;
	right: 10px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: 'Roboto',sans-serif;
	-webkit-transform: rotate(180deg) translateY(50%);
	-ms-transform: rotate(180deg) translateY(50%);
	transform: rotate(180deg) translateY(50%); }
  
  .form-group .dropup .filter-option:after {
	display: none; }
  
  .form-group .dropdown-item.active {
	-webkit-box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.4); }
  
  .form-group label {
	color: #000; }
  
  .editor {
	height: 375px; }
  
  .logo-1 {
	max-width: 200px; }
	@media (max-width: 767.98px) {
	  .logo-1 {
		max-width: 150px; } }
  
  .logo-2 {
	max-width: 150px; }
	@media (max-width: 767.98px) {
	  .logo-2 {
		max-width: 100px; } }
  
  .logo-3 {
	max-width: 120px; }
	@media (max-width: 767.98px) {
	  .logo-3 {
		max-width: 75px; } }
  
  .logo-4 {
	max-width: 100px; }
	@media (max-width: 767.98px) {
	  .logo-4 {
		max-width: 75px; } }
  
  .logo-5 {
	max-width: 50px; }
	@media (max-width: 767.98px) {
	  .logo-5 {
		max-width: 50px; } }
  
  .logo-6 {
	max-width: 150px; }
	@media (max-width: 767.98px) {
	  .logo-6 {
		max-width: 150px; } }
  
  .logo-7 {
	max-width: 180px; }
	@media (max-width: 767.98px) {
	  .logo-7 {
		max-width: 150px; } }
  
  .logo-8 {
	max-width: 90px; }
	@media (max-width: 767.98px) {
	  .logo-8 {
		max-width: 90px; } }
  
  .testimony-full blockquote {
	font-size: 2rem;
	font-style: italic;
	font-weight: 300;
	line-height: 1.7; }
	@media (max-width: 767.98px) {
	  .testimony-full blockquote {
		font-size: 1.4rem; } }
	.testimony-full blockquote cite {
	  font-size: 1.2rem; }
  
  /* Job Listings */
  .job-listings {
	padding: 0;
	margin: 0;
	border: 1px solid #010080;
	border-radius: 7px;
	overflow: hidden;
	position: relative;
	background: #fff; }
	.job-listings .badge {
	  color: #fff;
	  padding: 4px 10px; }
	@media (max-width: 991.98px) {
	  .job-listings .custom-width {
		width: 100% !important; } }
	.job-listings .job-listing {
	  position: relative;
	  border-bottom: 1px solid #eee;
	  -webkit-transition: .3s all ease;
	  -o-transition: .3s all ease;
	  transition: .3s all ease; }
	  .job-listings .job-listing:last-child {
		border-bottom: none; }
	  .job-listings .job-listing a {
		position: absolute;
		width: 100%;
		height: 100%;
		text-decoration: none;
		-webkit-transition: .3s all ease;
		-o-transition: .3s all ease;
		transition: .3s all ease; }
		.job-listings .job-listing a:hover {
		  border-left: 7px solid #0080ff; }
	  .job-listings .job-listing .job-listing-logo {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 150px;
		flex: 0 0 150px;
		border-right: 1px solid #eee; }
		@media (max-width: 575.98px) {
		  .job-listings .job-listing .job-listing-logo {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%; } }
	.job-listings .job-listing-position h2 {
	  font-size: 1.2rem;
	  margin-bottom: 0; }
	.job-listings .job-listing-position strong {
	  color: #b3b3b3; }
  
  .btn-file {
	position: relative;
	overflow: hidden; }
  
  .btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block; }
  
  .custom-breadcrumbs a {
	color: #0080ff; }
	.custom-breadcrumbs a:hover {
	  color: #fff; }
  
  .custom-breadcrumbs .slash {
	color: rgba(255, 255, 255, 0.4); }
  
  .spepcial_link {
	position: relative;
	text-decoration: none !important;
	color: #000; }
	.spepcial_link:before {
	  position: absolute;
	  z-index: -1;
	  background: #0080ff;
	  content: "";
	  width: 100%;
	  -webkit-transition: .3s all ease;
	  -o-transition: .3s all ease;
	  transition: .3s all ease;
	  left: 0;
	  bottom: 0;
	  top: 50%;
	  width: 0; }
	.spepcial_link:hover {
	  color: #000; }
	  .spepcial_link:hover:before {
		width: 100%; }
  
  .img-overlap {
	position: relative; }
	.img-overlap .img-1, .img-overlap .img-2 {
	  position: absolute;
	  padding: 4%;
	  max-width: 300px; }
	  @media (max-width: 991.98px) {
		.img-overlap .img-1, .img-overlap .img-2 {
		  padding: 10%;
		  max-width: 400px;
		  position: relative; } }
	.img-overlap .img-1 {
	  top: 0; }
	.img-overlap .img-2 {
	  bottom: -20%;
	  right: -10%; }
	  @media (max-width: 991.98px) {
		.img-overlap .img-2 {
		  bottom: 30%; } }
  
  .img-shadow {
	border-radius: 7px;
	-webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.4); }
  
	.text-muted {
	  color: #d5d5d5 !important; }
	
	.section-title {
	  font-size: 2rem;
	  font-weight: 700; }
	
	.section-title-sub {
	  font-size: 1rem;
	  color: #ced4da; }
	
	.section-hero, .section-hero > .container > .row {
	  height: 100vh;
	  min-height: 900px; }
	
	.section-hero.inner-page, .section-hero.inner-page > .container > .row {
	  height: auto;
	  min-height: auto;
	  padding-top: 6em;
	  padding-bottom: 3em; }
	
	.section-hero.overlay, .section-hero.overlay-2 {
	  position: relative; }
	  .section-hero.overlay:before, .section-hero.overlay-2:before {
		z-index: 1;
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.5); }
	
	.section-hero.overlay-2:before {
	  background: rgba(125, 131, 132, 0.95); }
	
	.section-hero > .container {
	  z-index: 2;
	  position: relative; }
	
	.video-container {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	  z-index: -1; }
	  .video-container video {
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%); }
	
	.popular-keywords h3 {
	  font-size: 1.2rem;
	  display: inline-block;
	  color: #fff;
	  margin-right: .5rem; }
	
	.popular-keywords .keywords {
	  display: inline-block; }
	  .popular-keywords .keywords li {
		display: inline-block; }
		.popular-keywords .keywords li a {
		  border-radius: 5px;
		  display: inline-block;
		  background: rgba(255, 255, 255, 0.2);
		  border: 2px solid #fff;
		  color: #fff;
		  padding: .2rem .7rem;
		  font-size: .7rem;
		  font-weight: 700;
		  text-decoration: none; }
		  .popular-keywords .keywords li a:hover {
			background: #fff;
			color: black; }
	
	

/*********************************
5. Services
*********************************/
.services_background
{
	position: absolute;
	left: 0;
	width: 100%;
	height: 95%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity: 0.5;
	border-radius: 10px;
}
.services_container{
	position: relative;
	width: 1070px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 10px;
	left: 80px;
  }
  .services_container .card{
	position: relative;
	height: 250px;
	background: #e4eefa;
	display: flex;
	width: 45%;
	margin:20px 0;
	border-radius: 20px;
  
  }
  .services_container .card .imgBx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background: #0080ff;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s ease-in-out;
  }
  
  .services_container .card:hover .imgBx{
	width: 150px;
	height: 150px;
	left: -75px;
	top: calc(50% - 75px);
	transition: 0.5s ease-in-out;
	background: #010080;
  }
  .services_container .card .imgBx:before{
	content: attr(data-text);
	position: absolute;
	bottom: 0;
	left: 0;
	width:100%;
	text-align: center;
	font-size: 4em;
	color: rgba(255,255,255,0.2);
	font: 700;
  
  }
  .services_container .card .imgBx img{
	max-width: 100px;
	transition: 0.5s ease-in-out;
	
  }
  .services_container .card:hover .imgBx img{
	max-width: 75px;
	
  }
  .services_container .card .content{
	position:absolute;
	right: 0;
	width: calc(100% - 75px);
	height: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
  
  }
  .services_container .card .content h3{
	margin-bottom: 5px;
	font-size: 24px;
  
  }
  .services_container .card .content a{
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px;
	background: #010080;
	text-decoration: none;
	color: #fff;
	border-radius: 10px;
  }

/*********************************
5. Services
*********************************/
.services_background
{
	position: absolute;
	left: 0;
	width: 100%;
	height: 95%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity: 0.5;
	border-radius: 10px;
}
.services_container{
	position: relative;
	width: 1070px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 10px;
	left: 80px;
  }
  .services_container .card{
	position: relative;
	height: 250px;
	background: #e4eefa;
	display: flex;
	width: 45%;
	margin:20px 0;
	border-radius: 20px;
  
  }
  .services_container .card .imgBx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background: #0080ff;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5s ease-in-out;
  }
  
  .services_container .card:hover .imgBx{
	width: 150px;
	height: 150px;
	left: -75px;
	top: calc(50% - 75px);
	transition: 0.5s ease-in-out;
	background: #010080;
  }
  .services_container .card .imgBx:before{
	content: attr(data-text);
	position: absolute;
	bottom: 0;
	left: 0;
	width:100%;
	text-align: center;
	font-size: 4em;
	color: rgba(255, 255, 255, 0.835);
	font-size: 30px;
  
  }
  .services_container .card .imgBx img{
	max-width: 100px;
	transition: 0.5s ease-in-out;
	
  }
  .services_container .card:hover .imgBx img{
	max-width: 75px;
	
  }
  .services_container .card .content{
	position:absolute;
	right: 0;
	width: calc(100% - 75px);
	height: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
  
  }
  .services_container .card .content h3{
	margin-bottom: 5px;
	font-size: 24px;
  
  }
  .services_container .card .content a{
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px;
	background: #010080;
	text-decoration: none;
	color: #fff;
	border-radius: 10px;
  }

  @media(max-width:992px){
	.services_container{
	  width: 100%;
	  flex-direction: column;
	  align-items: center;
	}
	.services_container .card{
	  width:400px;
  
	}
  }
  @media(max-width:768px){
	.services_container .card{
	  max-width:300px;
	  flex-direction: column;
	  height: auto;
	}
	.services_container .card .imgBx{
	  position:relative;
  
	}
	.services_container .card .imgBx,
	.services_container .card:hover .imgBx{
	  width: 100%;
	  height: 200px;
	  left: 0;
	}
	.services_container .card .imgBx img,
	.services_container .card:hover .imgBx img{
	  max-width: 100px;
	}
	.services_container .card .content{
	  position: relative;
	  width: 100%;
	}
  }

  /*********************************
  13. Footer
  *********************************/
  
  .footer
  {
	  width: 100%;
	  padding-top: 113px;
	  padding-bottom: 104px;
    background: black;
    position: relative;
  }
  .footer_background
{
	position: absolute;
	left: 0;
	width: 100%;
	height: 70vh;
	background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
	opacity: 0.8;
}
  .footer_title
  {
	  font-size: 15px;
	  font-weight: 700;
	  color: #FFFFFF;
	  text-transform: uppercase;
  }
  
  /*********************************
  13.1 Footer - About
  *********************************/
  
  .footer_about
  {
    padding-top: 67px;
    position: relative;
  }
  .footer_logo
  {
	  position: absolute;
	  left: 0;
	  top: -24px;
  }
  .footer_about_text
  {
	  font-size: 15px;
	  font-weight: 100;
	  color: #FFFFFF;
  }
  .footer_social_item
  {
	  display: inline-block;
	  width: 31px;
	  height: 31px;
	  border: solid 1px #fff;
	  border-radius: 50%;
	  text-align: center;
	  -webkit-transition: all 200ms ease;
	  -moz-transition: all 200ms ease;
	  -ms-transition: all 200ms ease;
	  -o-transition: all 200ms ease;
	  transition: all 200ms ease;
    margin-right: 9px;
  }
  .footer_social_item:last-child
  {
	  margin-right: 0px;
  }
  .footer_social_item a
  {
	  display: block;
	  position: relative;
	  width: 100%;
	  height: 100%;
  }
  .footer_social_item a i
  {
	  display: block;
	  position: relative;
	  color: #FFFFFF;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -moz-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  -o-transform: translateY(-50%);
	  transform: translateY(-50%);
	  font-size: 12px;
	  -webkit-transition: all 200ms ease;
	  -moz-transition: all 200ms ease;
	  -ms-transition: all 200ms ease;
	  -o-transition: all 200ms ease;
	  transition: all 200ms ease;
  }
  .footer_social_item:hover
  {
	  background:  #0080ff;
  }
  .footer_social_item:hover a i
  {
	  color:  #0080ff;
  }
  
  /*********************************
  13.2 Footer - Blog
  *********************************/
  
  .footer_blog
  {
	margin-top: 30px;
  }
  .footer_blog_item
  {
    margin-bottom: 3px;
    padding: 10px;
  }
  .footer_blog_item:last-child
  {
	  margin-bottom: 0px;
  }
  .footer_blog_image
  {
	  width: 60px;
    height: 60px;
    float: left;
  }
  .footer_blog_image img
  {
    width: 100%;
    border-radius: 50%;
    height: 100%;
  }
  .footer_blog_content
  {
    padding-top: 70px;
  }
  .footer_blog_title
  {
	  margin-top: -4px;
	  padding-left: 1px;
  }
  .footer_blog_title a
  {
	  font-size: 14px;
	  font-weight: 400;
	  color: #FFFFFF;
  }
  .footer_blog_title a:hover
  {
	  color: #0080ff ;
  }
  .footer_blog_date
  {
	  font-size: 12px;
	  font-weight: 400;
	  color:  #0080ff;
	  margin-top: 7px;
  }
  
  
  
  /*********************************
  13.3 Footer - Tags
  *********************************/
  
  .footer_tags
  {
	  margin-top: 40px;
  }
  .tag_item
  {
	  height: 35px;
	  margin-right: 9px;
    margin-bottom: 9px;
	  -webkit-transition: all 200ms ease;
	  -moz-transition: all 200ms ease;
	  -ms-transition: all 200ms ease;
	  -o-transition: all 200ms ease;
	  transition: all 200ms ease;
  }
  .tag_item:hover
  {
	  color:  #0080ff;
  }
  .tag_item a
  {
	  display: block;
	  font-size: 12px;
	  font-weight: 600;
	  color: #FFFFFF;
	  line-height: 33px;
	  padding-left: 25px;
	padding-right: 25px;
  }
  .tag_item a:hover{
    color: #0080ff;

  }
  
  /*********************************
  13.4 Footer - Contact Info
  *********************************/
  
  .contact_info_list
  {
    margin-top: 40px;
  }
  .contact_info_item
  {
	  margin-bottom: 22px;
  }
  .contact_info_icon
  {
	  width: 20px;
	  height: 20px;
	  margin-right: 10px;
  }
  .contact_info_icon img
  {
	  display: block;
	  width: 100%;
  }
  .contact_info_text,
  .contact_info_text a
  {
	  color: #FFFFFF;
	  line-height: 2.14;
    margin-top: -4px;
    font-size: 15px;
    font-weight: normal;
  }
  .contact_info_item:hover .contact_info_text,
  .contact_info_item:hover .contact_info_text a
  {
	  color:  #0080ff;
  }
  
  /*********************************
  14. Copyright
  *********************************/
  
  .copyright
  {
    background:  black;
   
  }
  .copyright_content
  {
    height: 30px;
  }
  .copyright_content div
  {
	  font-size: 12px;
	  font-weight: 300;
	  color: #0080ff;
  }