@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Logo
	3.3 Main Nav
	3.4 Menu
4. Home
	4.1 Home Slider
	4.2 Home Slider Nav
	4.3 Home Slider Dots
5. Elements
	5.1 Buttons
	5.2 Progress Bars
	5.3 Accordions
	5.4 Milestones
	5.5 Loaders
	5.6 Icon Boxes
6. Footer
	6.1 Footer - About
	6.2 Footer - Blog
	6.3 Footer - Tags
	6.4 Footer - Contact Info
7. Copyright


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('truetype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('opentype');
}

:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
  
  *,
  *::before,
  *::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box; }
  
  html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block; }
  
  
  hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible; }
  
  h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.5rem; }
  
  p {
	margin-top: 0;
	margin-bottom: 1rem; }
  
  abbr[title],
  abbr[data-original-title] {
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
	cursor: help;
	border-bottom: 0;
	text-decoration-skip-ink: none; }
  
  address {
	margin-bottom: 1rem;
	font-style: normal;
	line-height: inherit; }
  
  ol,
  ul,
  dl {
	margin-top: 0;
	margin-bottom: 1rem; }
  
  ol ol,
  ul ul,
  ol ul,
  ul ol {
	margin-bottom: 0; }
  
  dt {
	font-weight: 700; }
  
  dd {
	margin-bottom: .5rem;
	margin-left: 0; }
  
  blockquote {
	margin: 0 0 1rem; }
  
  b,
  strong {
	font-weight: bolder; }
  
  small {
	font-size: 80%; }
  
  sub,
  sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline; }
  
  sub {
	bottom: -.25em; }
  
  sup {
	top: -.5em; }
  
  
  /*********************************
  2. Body and some general stuff
  *********************************/
  
  *
  {
	  margin: 0;
	  padding: 0;
	  -webkit-font-smoothing: antialiased;
	  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
  
  body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #e4eefa; }
  
  [tabindex="-1"]:focus {
	outline: 0 !important; }
  
  div
  {
	  display: block;
	  position: relative;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
  }
  ul
  {
	  list-style: none;
	  margin-bottom: 0px;
  }
  p
  {
	  font-family: 'Open Sans', sans-serif;
	  font-size: 14px;
	  line-height: 2;
	  font-weight: 400;
	  color: #010080;
	  -webkit-font-smoothing: antialiased;
	  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
  p a
  {
	  display: inline;
	  position: relative;
	  color: inherit;
	  border-bottom: solid 1px #ffa07f;
	  -webkit-transition: all 200ms ease;
	  -moz-transition: all 200ms ease;
	  -ms-transition: all 200ms ease;
	  -o-transition: all 200ms ease;
	  transition: all 200ms ease;
  }
  a, a:hover, a:visited, a:active, a:link
  {
	  text-decoration: none;
	  -webkit-font-smoothing: antialiased;
	  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
  p a:active
  {
	  position: relative;
	  color: #FF6347;
  }
  p a:hover
  {
	  color: #FFFFFF;
	  background: #ffa07f;
  }
  p a:hover::after
  {
	  opacity: 0.2;
  }
  
  h1{font-size: 38px;}
  h2{font-size: 50px;}
  h3{font-size: 24px;}
  h4{font-size: 18px;}
  h5{font-size: 14px;}
  h1, h2, h3, h4, h5, h6
  {
	  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	  -webkit-font-smoothing: antialiased;
	  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }
  .form-control
  {
	  color: #db5246;
  }
  section
  {
	  display: block;
	  position: relative;
	  box-sizing: border-box;
  }
  .clear
  {
	  clear: both;
  }
  .clearfix::before, .clearfix::after
  {
	  content: "";
	  display: table;
  }
  .clearfix::after
  {
	  clear: both;
  }
  .clearfix
  {
	  zoom: 1;
  }
  .float_left
  {
	  float: left;
  }
  .float_right
  {
	  float: right;
  }
  .trans_200
  {
	  -webkit-transition: all 200ms ease;
	  -moz-transition: all 200ms ease;
	  -ms-transition: all 200ms ease;
	  -o-transition: all 200ms ease;
	  transition: all 200ms ease;
  }
  .trans_300
  {
	  -webkit-transition: all 300ms ease;
	  -moz-transition: all 300ms ease;
	  -ms-transition: all 300ms ease;
	  -o-transition: all 300ms ease;
	  transition: all 300ms ease;
  }
  .trans_400
  {
	  -webkit-transition: all 400ms ease;
	  -moz-transition: all 400ms ease;
	  -ms-transition: all 400ms ease;
	  -o-transition: all 400ms ease;
	  transition: all 400ms ease;
  }
  .trans_500
  {
	  -webkit-transition: all 500ms ease;
	  -moz-transition: all 500ms ease;
	  -ms-transition: all 500ms ease;
	  -o-transition: all 500ms ease;
	  transition: all 500ms ease;
  }
  .fill_height
  {
	  height: 100%;
  }
  .super_container
  {
	  width: 100%;
	  overflow: hidden;
  }
  .prlx_parent
  {
	  overflow: hidden;
  }
  .prlx
  {
	  height: 130% !important;
  }
  .nopadding
  {
	  padding: 0px !important;
  }
  .button
  {
	  display: inline-block;
	  height: 53px;
	  border-radius: 27px;
	  overflow: hidden;
  }
  
  .button_bcg
  {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 200%;
	  height: 100%;
	  background: #010080;
	  opacity: 1;
	  z-index: -1;
	  -webkit-transition: all 400ms ease;
	  -moz-transition: all 400ms ease;
	  -ms-transition: all 400ms ease;
	  -o-transition: all 400ms ease;
	  transition: all 400ms ease;
  }
  .button:hover .button_bcg
  {
	  left: -100%;
	  background: #1b0b32;
  }
  .button a
  {
	  display: block;
	  font-size: 13px;
	  font-weight: 700;
	  color: #FFFFFF;
	  text-transform: uppercase;
	  line-height: 53px;
	  padding-left: 46px;
	  padding-right: 46px;
	  white-space: nowrap;
	  z-index: 2;
  }
  .button span
  {
	  display: inline-block;
	  vertical-align: middle;
	  width: 5.75px;
	  height: 5.63px;
	  background:  #0080ff;
	  border-radius: 50%;
	  margin-right: 2px;
  }
  
  
  .user_box_link
  {
	display: inline-block;
  }
  .user_box_link a
  {
	  display: block;
	  font-size: 10px;
	  line-height: 36px;
	  font-weight: 600;
	  color: black;
	text-transform: uppercase;
	float:right;
  }
  .user_box_link a:hover
  {
	  color: #FFFFFF;
  }
  .user_box_login
  {
	  margin-right: 15px;
  }
  .user_box_login::after
  {
	  display: block;
	  position: absolute;
	  top: 15px;
	  right: -9px;
	  background: #FFFFFF;
	  width: 1px;
	  height: 9px;
	  content: '';
  }
  
  /*********************************
  3.2 Logo
  *********************************/
  
  .logo_container
  {
	  -webkit-transform: translateY(-6px);
	  -moz-transform: translateY(-6px);
	  -ms-transform: translateY(-6px);
	  -o-transform: translateY(-6px);
	  transform: translateY(-6px);
  }
  .header.scrolled .logo_container
  {
	  -webkit-transform: none;
	  -moz-transform: none;
	  -ms-transform: none;
	  -o-transform: none;
	  transform: none;
  }
  .logo a
  {
	  font-family: 'Open Sans', sans-serif;
	  font-size: 30px;
	  color:  #0080ff;
	  font-weight: 800;
	  text-transform: uppercase;
  }
  .logo a img
  {
	  display: inline-block;
	  vertical-align: baseline;
	  margin-right: 9px;
	  -webkit-transform: translateY(2px);
	  -moz-transform: translateY(2px);
	  -ms-transform: translateY(2px);
	  -o-transform: translateY(2px);
	  transform: translateY(2px);
  }
  
  /*********************************
  3.3 Main Nav
  *********************************/
  .navbar{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
	background-color: aliceblue;
	width: 100%;
	height: 100px;
	z-index: 1;
  
  }
  .navbar::after
  {
	display: block;
  }
  .nav{
	display: flex;
	justify-content: right;
	list-style: none;
	margin-right: 15%;
  }
  a{
	margin: 15px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
  }
  
  nav ul li{
  list-style: none;
  position: relative;
  display: inline-block;
  
  }
  
  .navbar ul li a{
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: black;
  font-size: 14px;
  padding: 20px 30px;
  text-decoration: none;
  }
  .navbar ul li ul{
  display: none;
  position: absolute;
  background-color: #999999;
  padding: 10px;
  border-radius: 0 0 4px 4px;
  
  }
  .navbar ul li:hover ul{
  display: block;
  }
  .navbar ul li ul li{
  width: 180px;
	border-radius: 4px;
	list-style: none;
  }
  .navbar ul li ul li a{
	padding: 8px 14px;
   
  
  }
  .navbar ul li ul a:hover{
  background-color:  #0080ff;
  }
  

/*********************************
4. Home
*********************************/

.home
{
	width: 100%;
	height: 100vh;
    opacity: 1;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity: 1;
}
.home_content
{
	position: absolute;
	bottom: 106px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.home_title
{
	font-size: 72px;
	font-weight: 800;
	color: #0080ff;
	text-transform: uppercase;
	white-space: nowrap;
	left: 150px;
	top: 50px;
}


/*********************************
5. Elements
*********************************/

.elements
{
	width: 100%;
	padding-top: 91px;
	padding-bottom: 105px;
}
.elements_title
{
	font-size: 36px;
	font-weight: 700;
	color: #2d2c2c;
}

/*********************************
5.1 Buttons
*********************************/

.buttons_container
{
	margin-top: 69px;
}
.buttons_container .button
{
	margin-right: 20px;
}
.buttons_container .button:last-child
{
	margin-right: 0px;
}
.button_color_1
{
	background: #0080ff;
}
.button_color_1:hover
{
	opacity: 0.8;
}
.button_color_2
{
	background: #0080ff;
}
.button_color_2:hover
{
	opacity: 0.8;
}
.button_line_1
{
	background: transparent;
	border: solid 2px#0080ff;
}
.button_line_1 a
{
	color: #0080ff;
	line-height: 49px;
	bottom: 10px;
}
.button_line_1 span
{
	background: #010080;
}
.button_line_1:hover
{
	background: #010080;
}
.button_line_1:hover a
{
	color: #FFFFFF;
}
.button_line_1:hover span
{
	background: #FFFFFF;
}

/*********************************
5.2 Progress Bars
*********************************/

.pbars_accordions
{
	margin-top: 71px;
}
.pbars_accordions_container
{
	padding-top: 104px;
}

.pb_item
{
	margin-bottom: 35px;
}
.pb_item h4
{
	font-size: 16px;
	color: black;
	font-weight: 600 !important;
	margin-bottom: 13px;
}
.skill_bars
{
	height: 2px;
}
.pb_item_title
{
	width: 96px;
	float: left;
}
.pb_item_content
{
	width: calc(100% - 96px);
	float: left;
	margin-top: 11px;
}

/*********************************
5.3 Accordions
*********************************/

.elements_accordions
{
	margin-top: -12px;
}
.accordion_container
{
	margin-bottom: 15px;
}
.accordion
{
	height: 50px;
	width: 100%;
	border: solid 2px #0080ff;
	background: #FFFFFF;
	padding-left: 16px;
	cursor: pointer;
	color: black;
	font-size: 14px;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion div
{
	max-width: 90%;
	overflow: hidden;
	white-space: nowrap;
}
.accordion.active
{
	background: #929191;
	color: #FFFFFF;
}
.accordion:active
{
	background: #fffbfa !important;
}
.accordion::after
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 13px;
	height: 100%;
	content: '+';
	font-size: 16px;
	color: #0080ff;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion.active::after
{
	color: #FFFFFF;
	content: '-';
}
.accordion:hover
{
	background: #0080ff;
	color: #FFFFFF;
}
.accordion:hover::after
{
	color: #FFFFFF;
}
.accordion_panel
{
	padding-left: 8px;
	padding-right: 8px;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.accordion_panel p
{
	padding-top: 31px;
}
/*********************************
5.5 Loaders
*********************************/

.loaders
{
	margin-top: 89px;
}
.elements_loaders_container
{
	margin-top: 100px;
}
.loader
{
	width: 176px;
	height: 176px;
	margin: 0 auto;
}
.loader strong
{
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	top: 53px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	color: #010080;
}
.loader span
{
	position: absolute;
	left: 50%;
	top: 57%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 14px;
	font-weight: 600;
	color: #0080ff;
	margin-top: 4px;
}
.loader .progressbar-text
{
	top: 45% !important;
}

/*********************************
5.6 Icon Boxes
*********************************/

.icon_boxes
{
	margin-top: 91px;
}
.icon_boxes_container
{
	margin-top: 43px;
}

.icon_box h3
{
	font-size: 24px;
	font-weight: 700;
	color: black;
	margin-bottom: 24px;
}
.icon_box p
{
	font-size: 14px;
	font-weight: 600;
	color: #929191;
	max-width: 100%;
	line-height: 2.29;
	margin-bottom: 0px;
}
.icon_container
{
	width: 60px;
	height: 58px;
	margin-bottom: 24px;
}




/*********************************
13. Footer
*********************************/

.footer
{
	width: 100%;
	padding-top: 113px;
	padding-bottom: 104px;
	background: #252525;
}
.footer_title
{
	font-size: 15px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
}

/*********************************
13.1 Footer - About
*********************************/

.footer_about
{
	padding-top: 67px;
}
.footer_logo
{
	position: absolute;
	left: 0;
	top: -24px;
}
.footer_about_text
{
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
}
.footer_social_item
{
	display: inline-block;
	width: 31px;
	height: 31px;
	border: solid 1px #fff;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-right: 9px;
}
.footer_social_item:last-child
{
	margin-right: 0px;
}
.footer_social_item a
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.footer_social_item a i
{
	display: block;
	position: relative;
	color: #FFFFFF;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 12px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social_item:hover
{
	background:  #0080ff;
}
.footer_social_item:hover a i
{
	color:  #0080ff;
}

/*********************************
13.2 Footer - Blog
*********************************/

.footer_blog
{
  margin-top: 39px;
}
.footer_blog_item
{
	margin-bottom: 21px;
}
.footer_blog_item:last-child
{
	margin-bottom: 0px;
}
.footer_blog_image
{
	width: 60px;
	height: 60px;
	float: left;
}
.footer_blog_image img
{
	width: 100%;
}
.footer_blog_content
{
	padding-left: 81px;
}
.footer_blog_title
{
	margin-top: -4px;
	padding-left: 1px;
}
.footer_blog_title a
{
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
}
.footer_blog_title a:hover
{
	color: #0080ff ;
}
.footer_blog_date
{
	font-size: 12px;
	font-weight: 400;
	color:  #0080ff;
	margin-top: 7px;
}


/*********************************
13.3 Footer - Tags
*********************************/

.footer_tags
{
	margin-top: 40px;
}
.tag_item
{
	height: 35px;
	margin-right: 9px;
	margin-bottom: 9px;
  border: solid 1px #fff;
  border-radius: 20px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tag_item:hover
{
	background:  #0080ff;
}
.tag_item a
{
	display: block;
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 33px;
	padding-left: 25px;
  padding-right: 25px;
}

/*********************************
13.4 Footer - Contact Info
*********************************/

.contact_info_list
{
	margin-top: 40px;
}
.contact_info_item
{
	margin-bottom: 22px;
}
.contact_info_icon
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.contact_info_icon img
{
	display: block;
	width: 100%;
}
.contact_info_text,
.contact_info_text a
{
	color: #FFFFFF;
	line-height: 2.14;
	margin-top: -4px;
}
.contact_info_item:hover .contact_info_text,
.contact_info_item:hover .contact_info_text a
{
	color:  #0080ff;
}
/*********************************
14. Copyright
*********************************/

.copyright
{
	background:  #252525;
}
.copyright_content
{
	height: 52px;
}
.copyright_content div
{
	font-size: 12px;
	font-weight: 600;
	color: rgb(8, 4, 29);
}